<h1>Carrito de Materiales</h1>
<table class="table">
    <tr>
        <th>Producto Añadido</th>
        <th>Cantidad</th>
        <th>SubTotal($)</th>
    </tr>
    <tbody>
        <tr>
            <td>Ladrillo 18</td>
            <td>5</td>
            <td>600</td>
        </tr>
        <tr>
            <td>Ladrillo 12</td>
            <td>4</td>
            <td>350</td>
        </tr>
        <tr class="final">
            <td>Total($)</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>