<h1>Carrito de Materiales</h1>
<table class="table">
    <tr>
        <th>Producto Añadido</th>
        <th>Cantidad</th>
        <th>SubTotal($)</th>
    </tr>
    <tbody>
        <tr *ngFor="let mat of cartList">
            <td>{{mat.name}}</td>
            <td>{{mat.quantity}}</td>
            <td>{{mat.quantity*mat.price}}</td>
        </tr>
        <tr>
        <tr class="final table-primary">
            <td>Total($)</td>
            <td></td>
            <td >{{total()}}</td>
        </tr>
    </tbody>
</table>