<h1>Los mejores gimnastas de la historia</h1> <h2 [ngClass]="{'votos' : contador!=0}">Votos disponibles: <span>{{contador}}</span></h2>
<table class="table text-center ">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Nacionalidad</th>
            <th>Edad</th>
            <th>Altura</th>
            <th>Votos</th>
            <th>Votar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gymnast of gymnasts" [ngClass]="{'discount': gymnast.name == masVotado.name, 'table-danger': contador == 0 && gymnast.name != masVotado.name} " >
            <td> <img [src]="gymnast.image" [alt]="gymnast.name"></td>
            <td>{{gymnast.name}}</td>
            <td>{{gymnast.nationality}}</td>
            <td>{{gymnast.age}}</td>
            <td>{{gymnast.height}}</td> 
            <td><app-input-integer *ngIf="contador!=0" [(quantity)] = "gymnast.quantity" [max] = "contador"></app-input-integer></td>
            <td > <button type="button" class="btn btn-primary" (click)="addVote(gymnast)" *ngIf="contador!=0">Votar</button></td>
        </tr>
    </tbody>
</table>