<h1>Lista de Materiales</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio Unitario</th>
            <th>Stock</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let material of materials" [ngClass]="{'discount': material.discount == true}">
            <td> <img [src]="material.image" [alt]="material.name"></td>
            <td>{{material.name}}</td>
            <td>{{material.type}}</td>
            <td>{{material.price | currency}}</td>
            <td> <span class="badge text-bg-warning" *ngIf="material.stock==0">Sin Stock</span></td>
            <td>
                <div class="cantidad">
                    <button class="btn btn-primary btn-sm" (click)="downQuantity(material)" >-</button>
                    <input type="text" [(ngModel)]="material.quantity" (keyup)="verifyInput($event,material)">
                    <button class="btn btn-primary btn-sm" (click)="upQuantity(material)">+</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>